<div class="control-group">
  <label class="control-label" for="<%= label %>"><%= defined?(label_text) ? label_text : label %></label>
  <div class="controls">
    <div class="input-append">

    <%=
      # This is ugly but make the js work on this page :)
      id = label.gsub(/\[|\]/, '_')
      attr_hash = { :class => 'dataInput', :id => id }
      case value
        when Proc
          instance_exec attr_hash, &value
        when :file
          file_field_tag label
        when :textarea
          text_area_tag label
        when :password
          password_field_tag label, "", attr_hash
        else
          text_field_tag label, value.to_s, attr_hash
      end
    %>
    <% if ![:textarea, :file].include?(value) %>
      <div class="btn btn" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" onmouseout="$(this).tooltip('hide')" data-original-title="Erase field contents" onclick="$('#<%= id %>').val('')"><i class='icon icon-ban-circle'></i></div>
      <div class='btn btn-danger' data-toggle="tooltip" onmouseover="$(this).tooltip('toggle')" data-original-title="Remove field from form" onclick="ApiTaster.toggleInput(this)"><i class='icon-white icon-minus'></i></div>
    <% end %>
    </div>
  </div>
</div>
